.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #efc103;
    height: 2.3rem;
    margin-top: 100px;
    gap: 10px;
}

.logoFooter {
    height: 1.5rem;
}